.social-icons-sprite, .social-icons-github, .social-service.github .icon-link, .social-icons-gmail, .social-icons-stack-overflow, .social-service.stack-overflow .icon-link, .social-icons-tumblr, .social-service.tumblr .icon-link, .social-icons-twitter, .social-service.twitter .icon-link {
  background: url('/../images/social-icons-s545c827c5c.png') no-repeat;
}

.social-icons-github, .social-service.github .icon-link {
  background-position: 0 0;
}

.social-icons-gmail {
  background-position: 0 -98px;
}

.social-icons-stack-overflow, .social-service.stack-overflow .icon-link {
  background-position: 0 -45px;
}

.social-icons-tumblr, .social-service.tumblr .icon-link {
  background-position: 0 -130px;
}

.social-icons-twitter, .social-service.twitter .icon-link {
  background-position: 0 -176px;
}

.social-service.stack-overflow {
  height: 53px;
}
@media (min-width: 768px) {
  .social-service.stack-overflow {
    margin-left: -48px;
  }
}
.social-service.stack-overflow .icon-link {
  display: block;
  width: 48px;
  height: 53px;
}
.social-service.stack-overflow .profile-url {
  display: block;
  height: 53px;
}
.social-service.github {
  height: 45px;
}
@media (min-width: 768px) {
  .social-service.github {
    margin-left: -48px;
  }
}
.social-service.github .icon-link {
  display: block;
  width: 48px;
  height: 45px;
}
.social-service.github .profile-url {
  display: block;
  height: 45px;
}
.social-service.tumblr {
  height: 46px;
}
@media (min-width: 768px) {
  .social-service.tumblr {
    margin-left: -48px;
  }
}
.social-service.tumblr .icon-link {
  display: block;
  width: 48px;
  height: 46px;
}
.social-service.tumblr .profile-url {
  display: block;
  height: 46px;
}
.social-service.twitter {
  height: 39px;
}
@media (min-width: 768px) {
  .social-service.twitter {
    margin-left: -48px;
  }
}
.social-service.twitter .icon-link {
  display: block;
  width: 48px;
  height: 39px;
}
.social-service.twitter .profile-url {
  display: block;
  height: 39px;
}
