.social-icons-sprite, .social-icons-github, .social-icons-gmail, .social-icons-stack-overflow, .social-icons-tumblr, .social-icons-twitter, .social .urls .url {
  background: url('/../images/social-icons-sa2e61da149.png') no-repeat;
}

.social-icons-github, .social .urls .url.github {
  background-position: 0 0;
}

.social-icons-gmail {
  background-position: 0 -106px;
}

.social-icons-stack-overflow, .social .urls .url.stack-overflow {
  background-position: 0 -49px;
}

.social-icons-tumblr, .social .urls .url.tumblr {
  background-position: 0 -138px;
}

.social-icons-twitter, .social .urls .url.twitter {
  background-position: 0 -190px;
}

.social .urls .url.stack-overflow {
  height: 57px;
  left: -48px;
}
.social .urls .url.stack-overflow a {
  margin: auto;
  margin-left: 63px;
}
.social .urls .url.github {
  height: 49px;
  left: -48px;
}
.social .urls .url.github a {
  margin: auto;
  margin-left: 63px;
}
.social .urls .url.tumblr {
  height: 52px;
  left: -48px;
}
.social .urls .url.tumblr a {
  margin: auto;
  margin-left: 63px;
}
.social .urls .url.twitter {
  height: 43px;
  left: -48px;
}
.social .urls .url.twitter a {
  margin: auto;
  margin-left: 63px;
}
