.social-icons-sprite, .social-icons-github, .social-icons-gmail, .social-icons-stack-overflow, .social-icons-tumblr, .social-icons-twitter {
  background: url('/../images/social-icons-s910e90491c.png') no-repeat;
}

.social-icons-github {
  background-position: 0 0;
}

.social-icons-gmail {
  background-position: 0 -98px;
}

.social-icons-stack-overflow {
  background-position: 0 -45px;
}

.social-icons-tumblr {
  background-position: 0 -130px;
}

.social-icons-twitter {
  background-position: 0 -176px;
}
