// "Absolute Centering in CSS" <http://codepen.io/shshaw/full/gEiDt>
.absolute-centered-container() {
  position: relative;
  display: block;
}

.absolute-centered(@width: 100%) {
  position: absolute;
  display: table;
  height: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: @width;
}

.make-person() {
  .make-row();
  position: relative;

  .basic {
    .make-xs-column(12);
    .name, .description, .email,  {
    }
  }

  .social {
    .make-sm-column-offset(12);
    .urls {
      .list-unstyled();
      
      .url {
        @width: 340px;
        .absolute-centered-container();
        width: @width;
        cursor: pointer;
        .transition(all 400ms cubic-bezier(1.000, -0.530, 0.405, 1.425));
        margin-bottom: 10px;
        
        &.out {
          .transition(all 600ms cubic-bezier(0.165, 0.84, 0.44, 1));
          left: -1*@width; 

          &.stack-overflow { left: -425px; }
          &.github { left: -350px; }
          &.tumblr { left: -369px; }
          &.twitter { left: -350px; }
        }

        a {
          .absolute-centered(0);
          font-size: 20px;
          font-weight: 300;
          text-decoration: none
        }
      }
    }
  }
}
